<%- include('partials/navbar') %>
<div>
<header class="masthead" style="background-image:url('/img/intro-bg.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 data-bs-hover-animate="pulse" class="brand-heading" style="color: #c9a66f;"><strong>innovation</strong></h1>
                        <blockquote>
                            <h3>

"Creativity is thinking up new things.<br>Innovation is doing new things" <br/><br/>&mdash;  Theodore Levitt
                            </h3>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="masthead bg-primary text-white text-center" style="background: url('/img/82181.jpg') bottom, #181727;">
        <div class="container">
            <h1 style="color: #c9a66f;">Robel Schwarz</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">
                Web Developer
                <br />
                <br />
                SyStem Designer
                <br />
                <br />
                Graphic Artist 
                <br />
                <br />
                UX/UI Designer
        </div>
    </section>
    <section id="about" class="content-section text-center" style="background: #181727;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 style="color: #c9a66f;">About Me</h2>
                    <p>I am a high school computer science student that takes duel credit classes at my local college</p>
                    <p>I have had a love for computers and pretty much any mechanical object i.e.&nbsp; watches , keyboards, and mouses. ever since i was little&nbsp;&nbsp;</p>
                    <p>I now do freelance work for anyone who wants websites, mini games, mobile apps, and desktop applications.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="my-work" class="download-section content-section text-center" style="background-image:url('/img/downloads-bg.jpg');">
        <div class="container">
            <div class="col-lg-8 d-flex flex-column justify-content-between mx-auto">
                <h1 style="color: #c9a66f;">view my work</h1>
                <p>This is a collection of snipets that i have used in projects, if any of these sound inteserting you to feel free to email me about them.</p>
                <a href="/view" class="btn btn-primary btn-lg btn-default" type="button" style="border-radius: 1rem;border-color: #c9a66f;color: #c9a66f;">View</a>
            </div>
        </div>
    </section>
    <section id="contact" class="content-section text-center" style="background: #181727;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 style="color: #c9a66f;">Contact me</h2>
                    <p>Feel free to contact me anytime for any questions or job/client work that you may want.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<a href="https://github.com/Amadeus-Stephen/" class="btn btn-primary btn-lg btn-default" type="button" style="border-radius: 1rem;border-color: #c9a66f;color: #c9a66f;"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp; Github</span></a></li>
                        <li class="list-inline-item">&nbsp;<a href="https://www.youtube.com/channel/UC8Tecp0vh97a9-5Lr_pVX6A" class="btn btn-primary btn-lg btn-default" type="button" style="color: #c9a66f;border-radius: 1rem;border-color: #c9a66f;"><i class="fa fa-youtube-play fa-fw"></i><span class="network-name">&nbsp;Youtube</span></a></li>
                        <li class="list-inline-item">&nbsp;<a href="/contact"class="btn btn-primary btn-lg btn-default" type="button" style="border-radius: 1rem;border-color: #c9a66f;color: #c9a66f;"><i class="fa fa-envelope fa-fw"></i><span class="network-name">&nbsp;EMAIL</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>I have nothing to put in this footer , so i will wish you a good day :).</p>
        </div>
    </footer>
</div>